# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\secret\project\tools\okhttpTools\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.gradle/
/.idea
/gradle
/src/test
/build
/out
